body{
    background-color: rgb(153, 171, 231);
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 46, 103);
    background-color: rgb(142, 110, 246);
}
div{
    background-color: rgb(232, 104, 123);
}
p{
    font-size: 25px;
    color: rgb(91, 33, 124);
}