body{
    background:rgb(54, 143, 245);
}
p{
    color:beige;
    text-align: center;
    font-size: 40px;
    transform: scale(1.5, 10);
    font-family: "Lucida Handwriting";
    line-height: 15;
    letter-spacing: 2px;
    text-shadow: 5px 5px 0.8px rgba(240, 235, 235, 0.3);

}