/* Cambiar el cursor a uno predefinido */
body {
    cursor: pointer; 
    background-color:rgb(231, 215, 201) ;
    margin: 2.5%;
}
h1{
  font-family:'Times New Roman', Times, serif;
  font-size: 60px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.texto{
  background-color: rgb(204, 88, 3);
  margin: 2%;
  font-size: 25px;
  padding: 15px;
  float: left;
  width: 630px;
  height: auto;
  font-size: x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  color: antiquewhite;
}
.quesos{
    cursor: url('quesito.png'), auto;
    background-color: rgb(204, 88, 3);
    font-size: 25px;
    padding: 15px;
    float: left;
    width: 400px;
    height: auto;
    align-items: center;
}
.pizza{
  cursor: url('pizza.png'), auto;
  background-color: rgb(255, 149, 5 );
  font-size: 25px;
  padding: 15px;
  float: left;
  width: 400px;
  height: auto;
  align-items: center;
}
.postre{
  cursor: url('panna.png'), auto;
  background-color: rgb(109, 55, 23 );
  font-size: 25px;
  padding: 15px;
  float: left;
  width: 547px;
  height: auto;
  align-items: center;
}
.tiktok-embed{
  background-color: rgb(226, 150, 43);
  font-size: 25px;
  padding: 15px;
  float: left;
  width: 800px;
  height: auto;
}